.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  padding-top: 15%;
  margin-bottom: 15%;
}

.about {
  width: 40%;
  margin: 0 auto 0 5%;
  color: whitesmoke;
}

.paragraph {
  font-size: 1.5rem;
}

.downloads {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.downloadText {
  color: whitesmoke;
  margin: 0;
  padding: 2.5% 0 2.5% 0;
}

.downloadBoxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #ffcc00;
  border-radius: 15px;
  height: 12vh;
  width: 12vw;
  margin: 2%;
  padding: 4%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.3s;
  text-decoration: none;
  color: inherit;
}

.box p {
  font-size: 1.5vw;
  font-weight: 600;
}

.box:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .about {
    width: 90vw;
  }
  .paragraph {
    font-size: 1.3rem;
  }

  .downloads {
    width: 90vw;
  }
  .box {
    width: 30vw;
    height: 20vw;
  }
  .box p {
    font-size: 4vw;
    font-weight: 600;
  }
}
