.container {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15%;
}

.about {
  width: 40%;
  margin: 0 5% 0 0%;
  color: whitesmoke;
}

.paragraph {
  font-size: 1.5rem;
}

.cardContainer {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 60%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-image: url("../../public//images/ian.jpg");
  background-size: cover;
  overflow: hidden;
}

.description {
  width: 100%;
  padding: 2.5%;
  background: #ffcc00;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 2.5%;
}
.description h5 {
  color: black;
  margin: 0;
  margin-bottom: 2px;
}

.description p {
  margin: 0;
  padding-left: 2%;
  margin-bottom: 2.5%;
  font-size: 1.5rem;
}

.bio {
  padding-left: 5%;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .about {
    width: 90vw;
    margin-bottom: 25%;
  }
  .paragraph {
    font-size: 1.3rem;
  }

  .downloads {
    width: 90vw;
  }
  .box {
    width: 30vw;
    height: 20vw;
  }
  .box p {
    font-size: 4vw;
    font-weight: 600;
  }
  .downloadBoxes {
    width: 100%;
    padding: 5%;
  }
}
