/*Landing */

/* Grid Container */
.gridContainer {
  display: flex;
  height: 100vh;
  width: 100%;
  background: url("/images/acaciahouse.jpg");
  background-size: cover;
  background-position: center;
  justify-content: flex-end;
  align-items: flex-end;
}

/* Button Container Styles */
.buttonContainer {
  width: 75%;
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
  padding: 1%;
}

/* Clickable Box Styles */
.clickableBox {
  background: #003082;
  margin: 12px;
  padding: 4vh 6vw;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s, transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Clickable Box Paragraph Styles */
.clickableBox p {
  color: white;
  margin: 0;
  font-size: 2rem;
}

/* Clickable Box Hover Styles */
.clickableBox:hover {
  background: linear-gradient(#005093, #005094);
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

/* Responsive Design */
@media (max-width: 768px) {
  .gridContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .contentContainer {
    width: 100vw;
    height: 15vh;
    justify-self: flex-start;
  }

  .contentContainer h2 {
    font-size: 3rem;
  }

  .buttonContainer {
    width: 100vw;
    justify-self: flex-end;
    justify-content: center;
  }

  .landingcard {
    opacity: 0;
  }
}
