.headingContainer {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffcc00;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.gridContainer {
  display: flex;
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("/images/acaciahouse.jpeg");
  background-size: cover;
  justify-content: flex-end;
  align-items: flex-end;
}
.landingCard {
  width: 25%;
  height: 58%;
  margin-bottom: -7.5%;
  background: darkslategray;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.cardImage {
  height: 85%;
  background-image: url("../../public/images/ian.jpg");
  background-size: cover;
}
.cardText {
  height: 15%;
  color: whitesmoke;
  display: flex;
  align-items: center;
  font-size: 2vw;
  padding-left: 5%;
}

.buttonContainer {
  width: 75%;
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
  padding: 1%;
}

.clickableBox {
  background: #003082;
  margin: 12px;
  padding: 4vh 6vw;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s, transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.clickableBox p {
  color: white;
  margin: 0;
  font-size: 2rem;
}

.clickableBox:hover {
  background: linear-gradient(#005093, #005094);
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
  .gridContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .contentContainer {
    width: 100vw;
    height: 15vh;
    justify-self: flex-start;
  }
  .contentContainer h2 {
    font-size: 3rem;
  }
  .contentContainer h2 {
    font-size: 2.8rem;
  }

  .buttonContainer {
    width: 100vw;
    justify-self: flex-end;
    justify-content: center;
  }
}
