.headingContainer {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffcc00;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.gridContainer {
  display: flex;
  height: 100vh;
  width: 100%;
  background: url("/images/acaciahouse.jpeg");
  background-size: cover;
  justify-content: flex-end;
  align-items: flex-end;
}

.landingcard {
  width: 25%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-image: url("../../public/images/ian.jpg");
  background-size: cover;
  overflow: hidden;
}

.description {
  width: 100%;
  padding: 2.5%;
  background: #ffcc00;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 2.5%;
}
.description h5 {
  color: black;
  margin: 0;
  margin-bottom: 2px;
}

.description p {
  margin: 0;
  padding-left: 2%;
  margin-bottom: 2.5%;
  font-size: 1.5rem;
}

.bio {
  padding-left: 5%;
  font-size: 1rem;
}

.buttonContainer {
  width: 75%;
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
  padding: 1%;
}

.clickableBox {
  background: #003082;
  margin: 12px;
  padding: 4vh 6vw;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s, transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.clickableBox p {
  color: white;
  margin: 0;
  font-size: 2rem;
}

.clickableBox:hover {
  background: linear-gradient(#005093, #005094);
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
  .gridContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .contentContainer {
    width: 100vw;
    height: 15vh;
    justify-self: flex-start;
  }
  .contentContainer h2 {
    font-size: 3rem;
  }
  .contentContainer h2 {
    font-size: 2.8rem;
  }

  .buttonContainer {
    width: 100vw;
    justify-self: flex-end;
    justify-content: center;
  }
}
