/* Member Card */
.card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-size: cover;
  background-position: bottom;
}

/* Description */
.description {
  width: 100%;
  padding: 5%;
  background: #ffcc00;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.info {
  width: 90%;

  margin: 0 2.5%;
}

/* Description Content */
.description h6 {
  color: #1b1212;
}

.description h5 {
  font-size: 1.5vw;

  padding-left: 2%;
  color: #28282b;
}

/* Bio */
.bio {
  color: #1b1212;
  font-size: 1vw;
  margin-top: 2.5%;
}

/* Responsive Styles */
@media only screen and (max-width: 950px) {
  .info {
    width: 85%;
  }
  .description h6 {
    font-size: 5.5vw;
  }
  .description h5 {
    font-size: 4.25vw;
  }
  .bio {
    font-size: 2.5vw;
  }
}

@media only screen and (max-width: 600px) {
  .description h6 {
    font-size: 7vw;
  }
  .description h5 {
    font-size: 4.5vw;
  }
  .bio {
    font-size: 4vw;
  }
}
