/*Board Members*/

/* Members Container */
.membersContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-x: hidden;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  padding-top: 2.5%;
}

/* Members Title */
.membersTitle {
  margin: 50px 0px;
}

/* Card Container */
.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
  padding: 2.5%;
}

/* Card Box */
.cardBox {
  width: 28vw;
  height: 40vh;
  margin: 2%;
  margin-bottom: 2.5%;
}

/* Responsive Design for Card Box */
@media (max-width: 768px) {
  .cardBox {
    width: 90vw;
  }

  .membersTitle h1 {
    padding-left: 5%;
    font-size: 6rem;
  }
}
