/* Members Container */
.membersContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-x: hidden;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  padding-top: 2.5%;
}

/* Members Title */
.membersTitle {
  margin: 50px 0;
}

/* Card Container */
.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 95vw;
  padding-bottom: 5%;
}

/* Card Box */
.cardBox {
  width: 28vw;
  height: 40vh;
  margin: 1%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

@media (min-width: 2800px) {
  .cardBox {
    width: 60vw;
    margin-bottom: 5%;
  }
  .cardBox {
    width: 20vw;
    height: 45vh;
    margin: 1%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
}

@media (max-width: 768px) {
  .cardBox {
    width: 90vw;
    margin-bottom: 5%;
  }

  .membersTitle {
    width: 100vw;
    text-align: center;
    margin: 10% 0 5%;
  }

  .membersTitle h2 {
    font-size: 9vw;
  }
}
