/* About and Card Container */
.about {
  width: 50%;
}

.cardContainer {
  width: 35%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 5%;
  margin-left: 5%;
}

/* About Text Styles */
.about h3 {
  color: #faf9f6;
  font-size: 5vh;
  margin-bottom: 0;
}

.about p {
  margin-top: 1%;
  margin-bottom: 0;
}

/* Card Styles */
.card {
  width: 90%;
  height: 60vh;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  background: url("../../public//images/ian.jpg") center/cover;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* Description Styles */
.description {
  width: 90%;
  background: #ffcc00;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 2.5% 10% 5% 2.5%;
}

/* Description Content Styles */
.description h4 {
  color: #1b1212;
  text-decoration: none;
}

.description p {
  margin: 0;
  padding-left: 2%;
  margin-bottom: 3%;
  color: #28282b;
}

/* Bio Styles */
.bio {
  padding-left: 5%;
  font-size: 1.5vw;
}

/* Responsive Styles */
@media only screen and (max-width: 600px) {
  .about,
  .cardContainer {
    width: 90%;
    justify-content: center;
    margin: 0;
  }

  .description h3 {
    font-size: 6vw;
  }

  .description p {
    font-size: 4vw;
  }

  .card {
    height: 50vh;
  }
}
