/* History Container */
.about {
  width: 100%;
  min-height: 55vh;
  padding: 0% 5%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Heading Styles */
.heading {
  width: 100%;
  height: 20vh;
  margin: 0;
  display: flex;
}
.heading h1 {
  color: #faf9f6;
  font-size: 7vw;
  margin: 0;
  padding: 0;
}

/* Paragraph Styles */
.paragraph {
  margin: 0;
  width: 100%;
  min-height: 35vh;
  margin-bottom: 5%;
}

/* Read More and Read Less Styles */
.readMore,
.readLess {
  cursor: pointer;
  color: #ffcc00;
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.75vw;
  margin: 0;
}

/* Read More Hover Effect */
.readMore:hover,
.readLess:hover {
  color: #ffad00;
}

/* Responsive Styles */
@media only screen and (max-width: 950px) {
  .heading {
    height: 10vh;
    padding: 5% 0% 2.5% 0%;
  }
  .heading h1 {
    font-size: 12.5vw;
  }
  .paragraph {
    width: 95%;
  }
  .readMore,
  .readLess {
    font-size: 4vw;
  }
}
@media only screen and (max-width: 600px) {
  .heading {
    height: 10vh;
    padding: 0%;
  }
}
