/* About Section */
.aboutContainer {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}

/* About and Card Container */
.about {
  width: 50%;
}

.cardContainer {
  width: 35%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 5%;
  margin-left: 5%;
}

/* About Text Styles */
.about h3 {
  color: #faf9f6;
  font-size: 5vh;
}

.about p {
  margin-top: 1%;
}

/* Card Styles */
.card {
  width: 90%;
  height: 45vh;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  background: url("../../public//images/ian.jpg") center/cover;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/* Description Styles */
.description {
  width: 90%;

  background: #ffcc00;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 2.5% 10% 5% 2.5%;
}

/* Description Content Styles */
.description h3 {
  color: #1b1212;
  margin-bottom: 1%;
}

.description p {
  margin: 0;

  padding-left: 2%;
  margin-bottom: 3%;
  font-size: 1.25vw;
  color: #28282b;
}

/* Bio Styles */
.bio {
  padding-left: 5%;
  font-size: 1rem;
}

/* Responsive Styles */
@media only screen and (max-width: 600px) {
  .aboutContainer {
    height: 110vh;
    flex-direction: column;
    margin-bottom: 0;
  }

  .about,
  .cardContainer {
    width: 90%;
    justify-content: center;
    margin: 0;
  }

  .description h3 {
    color: #1b1212;
    font-size: 6vw;
  }
  .description p {
    font-size: 4vw;
  }

  .card {
    height: 50vh;
  }
}
