.reportsContainer {
  width: 100vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}

.heading {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 4%;
  margin-bottom: 2;
}
.heading h1 {
  font-size: 5vw;
  color: white;
}

.boxesContainer {
  width: 100%;
  padding: 0% 5%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.box {
  width: 25vw;
  height: 20vh;
  margin: 3%;
}
